.root-container {
    
    .main-content {
        padding: "8px 16px 8px 16px";
        min-height: 280px;
        width: 100%;
    }

    .main-content::-webkit-scrollbar {
        display: none;
    }

    .ant-layout {
        background: rgb(10, 10, 10);
    }


    .ant-form-item-label label {
        font-size: 13px;
        font-weight: bold;
    }

    .user-data-container {
        max-height: 600px;
        width: 100%;
    }
}