.root-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .max-width-holder {
        max-width: 68%;
        min-width: 60;
        min-height: 100vh;
       
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}